{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title%}Temperaturverlauf{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Temperaturverlauf</h1>

    <p>Visualisierung der Messdaten des <a href="https://www.dwd.de">DWD</a>

</div>
    <!-- todo --> {{ wtf.quick_form(form, extra_classes='form-inline') }}
    <!-- key: {{key}} -->
    {% if form.display_type.data == 'Sound': %}
        <p></p>
        <audio controls><source type="audio/mpeg" src="data:audio/mpeg;base64,{{content}}"></audio></p>
    {% else %}
        <img width="100%" src="data:image/svg+xml;base64,{{content}}">
    {% endif %}

    <p>Unter diesen Links findet man
    <a href="https://gitlab.com/muessjoeh/temperaturverlauf/-/blob/master/README.md">
        die Dokumentation dieses Programmierprojekts</a>
        und <a href="https://gitlab.com/muessjoeh/temperaturverlauf/">seinen Quelltext</a>.</p>
    <p>Man kann dort auch etwas
        <a href="https://gitlab.com/muessjoeh/temperaturverlauf/-/blob/master/README.md#kommentare-und-%C3%A4nderungsw%C3%BCnsche">
            anmerken</a>, beispielsweise Fehler oder fehlende Features.</p>
    <p>Email: <samp>temperaturverlauf(at)mailbox.org</samp></p>
    <p>Falls die Bedeutung einiger Messgrößen unklar ist, kann man sie im
        <a href="https://www.dwd.de/DE/service/lexikon/Functions/glossar.html">Glossar des DWD</a>
        nachschlagen.</p>
    <p>Man kann beim DWD auch die einzelnen
        <a href="https://www.dwd.de/DE/klimaumwelt/klimaueberwachung/phaenologie/produkte/phaenouhr/phaenouhr.html">
            Phänomene</a> ansehen, inklusive einer anderen Darstellung. </p>
{% endblock %}
