{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title%}Temperaturverlauf Messtation{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Temperaturverlauf Messtation</h1>
</div>
    {{ form.csrf_token }}
    {{ wtf.quick_form(form, extra_classes='form-inline') }}
     <img width="100%" src="data:image/svg+xml;base64,{{content}}">

{% endblock %}
